extends ../templates/template
block title-description
  title Savimotors - Inicio
  meta(name="description" content="Descripccion")
block banner
  .banner
    .banner__slider
      picture.banner__img
        img(src=`${img}banner.jpg`, alt="banner savimotors")
      picture.banner__img
        img(src=`${img}banner2.jpg`, alt="banner savimotors")
      picture.banner__img
        img(src=`${img}banner3.jpg`, alt="banner savimotors")
block main
  main.main
    // Seccion cotizar
    section.quote-layout
      .quote-layout__container.container
        picture.quote-layout__img
          img(src=`${img}carro-cotiza.png`, alt="vehiculo cotizar")
        .quote-layout__data
          h2.quote-layout__title COTIZA TU VEHÍCULO
          form#form-quote.form-quote(action="")
            label.label(for="style-quote") ESCOGE TU ESTILO
            select#style-quote.input(name="style")
              option(value="suv-s" selected) SUV'S
              option(value="suv-s2") SUV'S 2
              option(value="suv-s3") SUV'S 3
            label.label(for="model-quote") ESCOGE TU MODELO
            select#model-quote.input(name="model")
              option(value="ecosport" selected) ECOSPORT
              option(value="ecosport2") ECOSPORT 2
              option(value="ecosport3") ECOSPORT 3
            .form-quote__button
              button.button-icon(type="submit") <i class="fas fa-calculator"></i>
                | COTIZAR

    // Seccion citas
    section.appointment-layout
      .appointment-layout__container.container
        h2.appointment-layout__title Solicita tu cita de mantenimiento ó reparación
        form#form-appointment.form-appointment(action="")
          input.input(type="text" placeholder="Ingresa tu Placa")
          button.button-icon(type="submit") <i class="fas fa-headset"></i>
            | Solicitar Cita

    // Seccion servicios
    section.services-layout
      .services-layout__container.container.section
        h2.title NUESTROS
          span SERVICIOS
        .services-layout__preslider
          figure.services-layout__left
            img(src=`${img}flecha-izquierda.png`, alt="flecha izquierda")
          .services-layout__slider
            .services-layout__item
              .services-layout__data
                h2.services-layout__title MANTENIMIENTO
                .accordion
                  p.accordion__text El mantenimiento constante de tu vehículo permite que se conserve en buenas condiciones de funcionamiento y seguridad,
                  button.accordion__button <i class="fas fa-plus"></i>
              picture.services-layout__img
                img(src=`${img}servicios.jpg`, alt="imagen")
            .services-layout__item
              .services-layout__data
                h2.services-layout__title MANTENIMIENTO
                .accordion
                  p.accordion__text El mantenimiento constante de tu vehículo permite que se conserve en buenas condiciones de funcionamiento y seguridad,
                  button.accordion__button <i class="fas fa-plus"></i>
              picture.services-layout__img
                img(src=`${img}servicios.jpg`, alt="imagen")
          figure.services-layout__right
            img(src=`${img}flecha-derecha.png`, alt="flecha derecha")
              
    // Seccion garantia
    section.warranty-layout
      .warranty-layout__container.container
        figure.warranty-layout__img
          img(src=`${img}ford.png`, alt="")
        figure.warranty-layout__img
          img(src=`${img}garantia.png`, alt="")
        .warranty-layout__data
          h2.warranty-layout__title GARANTÍA
          .accordion
            p.accordion__text Esta sección contiene las condiciones de garantía de Ford, por ende, es de vital importancia que nuestros clientes tengan conocimiento de estas. El incumplimiento 
            button.accordion__button <i class="fas fa-plus"></i>
          .accordion
            p.accordion__text CONDICIONES GENERALES
            button.accordion__button <i class="fas fa-plus"></i>
          .accordion
            p.accordion__text COMPONENTES DE GARANTÍA LIMITADA
            button.accordion__button <i class="fas fa-plus"></i>
          .accordion
            p.accordion__text CAUSALES DE CADUCIDAD
            button.accordion__button <i class="fas fa-plus"></i>

    // Seccion campañas
    section.bells-layout
      .bells-layout__container.container.section
        h2.title.title--center CAMPAÑAS
        .bells-layout__slider
          .element-slider
            figure.img-car
              img(src=`${img}carro-equipamiento1.jpg`, alt="carro")
          .element-slider
            figure.img-car
              img(src=`${img}carro-equipamiento2.jpg`, alt="carro")
          .element-slider
            figure.img-car
              img(src=`${img}carro-equipamiento1.jpg`, alt="carro")
          .element-slider
            figure.img-car
              img(src=`${img}carro-equipamiento2.jpg`, alt="carro")
          
    // Seccion equipamiento
    section.equipment-layout
      .equipment-layout__container.container.section
        h2.title EQUIPAMIENTO
          span Y/O TUNING
        .equipment-layout__grid
          figure.img-car
            img(src=`${img}carro-equipamiento1.jpg`, alt="carro")
          figure.img-car
            img(src=`${img}carro-equipamiento2.jpg`, alt="carro")
        .center
          a.button-icon(href="#") <i class="fas fa-car"></i>
            | VER TODOS LOS MODELOS